{%extends 'theme.html'%}
{%block main%}
<div class="container">
        <div class="row-mt-3">
            <div class="col-lg-3">
                <div class="list-group border shadow">
                    <a href="/" class="list-group-item mb-3">
                        All Products
                    </a>
                    {%for j in category%}
                    <a href="/?category={{j.id}}" class="list-group-item mb-3">
                        {{j.name}}
                    </a>

                    {%endfor%}
                </div>
            </div>



            <div class="col-lg-9">
                <div class="row">
                    {%for i in products%}
                               
                    <div class="col-lg-4">                        
                        <div class="card mb-5 shadow"
                        style="width: 18rem;height: 25rem;">

                            <div class="card-header">
                                {% if i.image 	%}

                                <img src="{{i.image.url}}"
                                {% endif %}
                        class="imagefluid">
                    </div>
                    <div class="card-body">
                        <h5>{{i.name}}</h5>
                        <h5>{{i.price}}</h5>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-dark">
                            Add to Cart
                        </button>
                    </div>                   
                    </div>
                    {%endfor%} 
                </div>
            </div>
                
            </div>
        </div>
        
        
</div>
{%endblock%}
